.container {
  display: flex;
  align-items: center;
  background-color: white;
  height: calc(100vh - 16px);
}

.bad-ending-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bad-ending-phrase, .bad-ending-image {
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
