.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  border: 2px solid #f44336;
  padding: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 450px;
  animation: fadeIn 1s ease-in-out;
}

.weather-card:hover {
  transform: scale(1.05);
}

.weather-info-hide {
  display: none;
  animation: fadeIn 1s ease-in-out;
}

.weather-info-show {
  display: block;
  animation: fadeIn 1s ease-in-out;
}

#city {
  margin: 8px 0;
}

#weather-icon {
  width: 50px;
  height: 50px;
}

#temperature {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 8px 0;
}

#description {
  font-size: 16px;
  color: #555;
  margin: 8px 0;
}

#wind-speed,
#humidity {
  font-size: 12px;
  color: #555;
  margin: 8px 0;
}

.loading {
  font-size: 14px;
  color: #2196F3;
  margin-top: 20px;
}

.error-message {
  font-size: 14px;
  color: #f44336;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .weather-card {
    padding: 20px;
    width: 90%;
  }

  #temperature {
    font-size: 18px;
  }

  #description {
    font-size: 14px;
  }

  #wind-speed,
  #humidity {
    font-size: 10px;
  }
}
