.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90%;
}

.question-card-frame {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 400px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  border: 2px solid #f44336;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

button {
  padding: 12px 20px;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.no-button {
  position: relative;
  background-color: #ff0000;
  z-index: 5;
}

.yes-button {
  position: relative;
  background-color: #48f321;
  z-index: 6;
}

.yes-button:hover {
  background-color: #2e8a18;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .question-card {
    padding: 20px;
    width: 90%;
  }

  button {
    font-size: 14px;
  }
}
