:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  height: calc(100vh - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: inherit;
  position: relative;
}

/* Default styles for all screens (mobile first) */
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.question-panel {
  width: 88%;
  background-color: lightblue;
}

.meteo-panel {
  position: relative;
  display: flex;
  width: 12%;
  align-items: center;
  background-color: lightcoral;
  z-index: 7;
}

.credit-panel {
  position: absolute;
  bottom: 20px;
  width: 20%;
  background-color: lightgreen;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.afk-panel {
  position: absolute;
  top: 0px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  z-index: 10;
}

/* Styles for screens at least 1024px wide (desktops and up) */
@media (min-width: 1024px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .question-panel {
    width: 100%;
    height: 75%;
    background-color: lightblue;
  }

  .meteo-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12%;
    background-color: lightcoral;
  }

  .credit-panel {
    position: absolute;
    bottom: 20px;
    width: 20%;
    background-color: lightgreen;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}
