.container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100%;
}

.afk-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.afk-question, .afk-image {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}
