:host {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: calc(100vh - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: inherit;
  position: relative;
}

/* Default styles for all screens (mobile first) */
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.question-panel {
  width: 88%;
}

.meteo-panel {
  position: relative;
  display: flex;
  width: 12%;
  align-items: center;
  z-index: 7;
}

.afk-panel {
  position: absolute;
  top: 0px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  z-index: 10;
}

/* Styles for screens at least 1024px wide (desktops and up) */
@media (min-width: 1024px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .question-panel {
    width: 100%;
    height: 75%;
  }

  .meteo-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 12%;
  }

}
